* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Alegreya", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href^="mailto"]::before {
    content: "💌 ";
    content:url(https://freight.cargo.site/w/25/q/94/i/3a75abed10d5fae8d9c7c29b0e88dd06efb10fd1233d4a4f5c518f5a43671856/-3.png);
}

h1 {
    font-size: 12vmin;
    color: #f5f5f7;
    text-align: center;
    line-height: .66667;
    font-weight: 700;
    letter-spacing: -.015em;
}

p {
    font-size: 3vmin;
    margin-top: 5vmin;
    text-align: center;
    font-weight: 700;
    letter-spacing: .0045em;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    position: absolute;
    bottom: 4vmin;
}
